body {
  font-family: Arial, sans-serif;
  background-color: #0dc936;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1e90ff;
  color: white;
  text-align: center;
  padding: 20px;
  image-resolution: initial;
  
}

.profile-pic {
  width: 120px;
  border-radius: 50%;
}

section {
  padding: 20px;
  background: white;
  margin: 15px;
}

.project {
  border-left: 4px solid #1e90ff;
  padding-left: 10px;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  background: black;
  color: white;
  padding: 10px;
}
